<div [className]="'container'">
<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
</div>
<router-outlet></router-outlet>
<app-messages></app-messages>
